

@font-face {
    font-family: Helvetica;
    src: url(font/HelveticaNeueLTCom-Lt.ttf);
}

body {
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
}

#container {
    text-align: center;
}

input[type=text], input[type=number] {
    padding: 4px;
    outline: none;
    font-family: Helvetica, sans-serif;
    border: none;
    width: 100%;
    box-sizing: border-box;
}
::placeholder {
    color: #000;
    opacity: 1;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#logging /* textarea */{
    width: 60%;
    height: 33vh;
    outline: none;
    border: 1.5px solid #000;
}

button {
    border: 1.5px solid #000;
    font-family: Helvetica, sans-serif;
    transition: .25s;
    padding: 4px;
    background: #fff;
    color: #000;
}
button:hover {
    background: #000;
    color: #fff;
    transition: .25s;
}

table {
    width: 60%;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
}
td, th {
    border: 1.5px solid #000;
    text-align: center;
}
.void {
    border: none;
}
/*
input[type=checkbox] {
    placeholder
}
*/